@import "../base/config";

.new-recipe {
  text-align: center;
  padding-top: 50px;
}

.recipe-form {
  text-align: left;
  max-width: 350px;
  margin: 0 auto;
}

.recipe-form__input {
  display: block;
  margin-top: 20px;
}
